<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Course Library</title>
    <link rel="icon" type="image/png" href="images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../css/custom.css" />
  </head>

  <body id="catalog">

    <!--HEADER-->

    <header>

    <!-- NAVBAR -->

    <nav class="navbar navbar-expand-md navbar-custom">
        <div class="container">
          <!-- Brand -->
            <a class="navbar-brand" href="../index.html">
                <img src="../images/logo.png" alt="logo" style="width:150px">
            </a>
          <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
          <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="../index.html"> <i class="fa fa-home"></i> | Home</a>
                  </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> <i class="fa fa-check-square-o"></i> | Course Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user"></i> | Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

  </header>

<br>

<!-- COURSE LIBRARY -->

<div class="container">
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h3 class="page-header dark">Course Library </h3><br>
        <small>Select all the safety courses you need. Then just click the checkout button!</small>
    </div>
        <div class="p-2">
            <button class="btn btn-primary" id="checkout"><i class="fa fa-shopping-cart"></i> | CHECKOUT</button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <hr>
        <div class="col">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#"><i class="fa fa-home red"></i></a>
                <span class="breadcrumb-item active">Course Catalog</span>
            </nav>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card">

                    <div class="card-header d-flex" role="tab" id="headingOne">
                        <h5 class="mb-0 mr-auto p-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Featured Online Courses
                    </a>
                </h5>
                        <a class="p-2" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">OPEN <i class="fa fa-arrows-v"></i> CLOSE</a>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">

                            <!-- COURSE TABLE -->

                            <table class="table table-hover">

                              <!-- TABLE HEAD -->

                                <thead>
                                    <tr>
                                        <th width="5%"><i class="fa fa-shopping-cart"></i></th>
                                        <th width="65%">Course Title</th>
                                        <th width="15%">Language</th>
                                        <th width="15%" class="text-right">$ Price</th>
                                    </tr>
                                </thead>

                                <!-- TABLE BODY -->
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="form-control checkbox">
                                        </td>
                                        <td>OSHA 10-Hour Construction Course - Earn 1.0 CEUs</td>
                                        <td>English</td>
                                        <td class="text-right">$80</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="form-control checkbox">
                                        </td>
                                        <td>OSHA 30-Hour Construction Course - Earn 3.0 CEUs</td>
                                        <td>English</td>
                                        <td class="text-right">$170</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header d-flex" role="tab" id="headingTwo">
                        <h5 class="mb-0 mr-auto p-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Awareness Courses
                    </a>
                </h5>
                        <a class="p-2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">OPEN <i class="fa fa-arrows-v"></i> CLOSE</a>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="card-body">
                            Whomp pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header d-flex" role="tab" id="headingThree">
                        <h5 class="mb-0 mr-auto p-2">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      Safety and Health Fundamentals
                    </a>
                </h5>
                        <a class="p-2" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">OPEN <i class="fa fa-arrows-v"></i> CLOSE</a>
                    </div>
                    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<br>

<!-- CHECKOUT -->

<div class="container">
    <div class="row">
      <div class="col text-right">
          <h4>Do you have all the courses that you need?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-right">
        <button class="btn btn-primary" id="checkout"><i class="fa fa-shopping-cart"></i> | CHECKOUT</button>
      </div>
    </div>
</div>

<br>

<!-- FOOTER -->

<footer>

    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="https://www.clicksafety.com/"><img src="../images/CSLogo.png" alt="ClickSafety Logo" width="150"></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link" title="Privacy Policy">Privacy Policy</a></li>
                <li class="v-divider"></li>
                <li class="nav-item"><a href="#" class="nav-link" title="Legal">Legal</a></li>
                <li class="v-divider"></li>
                <li class="nav-item"><a href="https://www.clicksafety.com/" class="nav-link" title="clicksafety">Clicksafety.com</a></li>
            </ul>
        </div>
    </nav>

</footer>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h5>Copyright 2018 ClickSafety.com, Inc. All Rights Reserved</h5>
            <small>
                The information contained in this online training website is provided by ClickSafety. While every eort is made to keep the content up to date and accurate, <%= name %> makes no representations or warranties about the information contained on the website. <%= name %> thus shall not be responsible for losses or damages from the use of, or the availability or unavailability of this website.
            </small>
        </div>
    </div>
</div>

    <!--scripts loaded here-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  </body>
</html>
